<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Sistema de Vendas</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<h3>Sistema de Vendas</h3>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
						<li><a href="/Vendas">Vendas</a></li>
						<li><a href="/produtos">Produtos</a></li>
						<li><a href="/clientes">Clientes</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
	    	<div class="row">
			<div class="col col-lg-9 tituloInfo">	
				<h3><%= cliente[0].nome_cliente %></h3>
			</div>
		</div>

		<div class="row">
			<div class="col col-lg-9">					
				<table class="table table-striped table-hover table-lg">
		            <thead>
		            	<th colspan="2">Informações</th>
		            </thead>
		            <tbody>
		            	<tr>
		            		<th>Data da primeira compra</th>
		            		<th><%= cliente[0].data_ingresso %></th>
		            	</tr>
		                <tr>
		                    <th>Numero</th>
		                    <td><%= cliente[0].numero %></td>
		                </tr>
		                <tr>
		                    <th>Email</th>
		                    <td><%= cliente[0].email %></td>
		                </tr>
		                <tr>
		                    <th>Instagram</th>
		                    <td><a href="<%= cliente[0].instagram %>" target="_blank"><%= cliente[0].instagram %></a></td>
		                </tr>
		                <tr>
		                    <th>Outras informações</th>
		                    <td><%= cliente[0].outras_informacoes %></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
        <div class="row">
        	<div class="col col-lg-9">
        		<a class="btn btn-link" href="/clientes">Voltar</a>
        	</div>
        </div>
	</div>

	    		
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>