<!DOCTYPE HTML>
<%- include('../_includes/topo'); %>	

	    <div class="container">
	    	<div class="row">
			<div class="col col-lg-9 tituloInfo">	
				<h3><%= produto[0].nome_produto %></h3>
			</div>
		</div>

		<div class="row">
			<div class="col col-lg-9">					
				<table class="table table-striped table-hover table-lg">
		            <thead>
		            	<th colspan="2">Informações</th>
		            </thead>
		            <tbody>
		                <tr>
		            		<th>Inicio da venda</th>
		            		<td><%= produto[0].inicio_venda %></td>
		            	</tr>
		            	<tr>
		                    <th>Descrição</th>
		                    <td><%= produto[0].descricao %></a></td>
		                </tr>		                
		                <tr>
		                    <th>Categoria</th>
		                    <td><%= produto[0].categoria %></td>
		                </tr>
		                <tr>
		                    <th>Valor</th>
		                    <td><%= produto[0].valor %></td>
		                </tr>
		            </tbody>
		        </table>
	        </div>
	    </div>
        <div class="row">
        	<div class="col col-lg-9">
        		<a class="btn btn-link" href="/produtos">Voltar</a>
        	</div>
        </div>
	</div>

	    		
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>